* {
  max-width: 100%;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 3.25em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.8em;
}

p {
  color: gray;
}
.orange-text {
  color: #fc8f49;
}

.flex-container {
  display: flex;
  margin-bottom: 6.25em;
}

.half-width {
  width: 50%;
  padding: 5% 5% 0 5%;
}

#intro-title {
  padding-top: 12%;
  padding-left: 8%;
}

.link-button {
  text-decoration: none;
  color: white;
  background-image: linear-gradient(to right, #fc8f49, #fe492d);
  padding: 1em 2.5em;
  font: bold;
  font-size: 1.2em;
  border-radius: 1.5em;
}

#about-me {
  background-image: url(/images/shapes/Frame\ 57.jpg);
  background-repeat: no-repeat;
}

#about-me-person {
  margin-left: 12em;
}

#recipe-intro {
  text-align: center;
  margin: auto;
  width: 45%;
  margin-bottom: 5em;
}

.item-box {
  padding: 2.5%;
  margin: 0 2%;
  width: 24%;
  box-shadow: 0.625em 0.625em 2.5em lightgray;
  border-radius: 1.5em;
}

.reaction-stats {
  padding: 3%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 0.625em 0.625em 2.5em lightgray;
  border-radius: 1.5em;
}

.stat-box {
  margin: auto;
}

footer {
  background-color: #0b0e17;
  text-align: center;
  color: gray;
  padding: 1.2em 0;
}

footer p {
  color: lightgray;
}
